<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('./partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('./partials/nav.ejs') %>
        <div class="part">
            <div class="text">
                <% if (searchResult.length == 0) { %>
                    <h2>Sorry, no matching results have been found.</h2>
                <% } else { %>
                <% searchResult.forEach(res => { %>
                    <div style="margin-bottom: 50px">
                        <!-- If the result has a symbol field -->
                        <% if (res.symbol) { %>
                            <p><b><%= res.symbol %></b></p>
                        <!-- else if the result has an archetype field -->
                        <% } else if (res.archetype) { %>
                            <p><b><%= res.archetype %></b></p>
                        <!-- else do nothing -->
                        <% } else {} %>
                        <p><%= res.text %></p>
                        <small><b>&#9830 <%= res.author %></b>, <%= res.source %></small>
                    </div>
                <% })} %>
            </div>
        </div>

    </div>
    <%- include('./partials/footer.ejs') %>  
</body>
</html>