<!DOCTYPE html>
<html lang="en">
<!-- head -->
<%- include('../partials/head.ejs') %>
<body>
    <div class="container">
        <!-- navbar -->
        <%- include('../partials/nav.ejs') %>

        <div class="part">
            <div class="text main">
                <h1>Symbols</h1>

                <% orderedSym.forEach(symbol => { %>
                    <h2><%= symbol[0].symbol %></h2>
                    <% symbol.forEach(item => { %> 
                        <p><%= item.text %></p>
                    <% }) %>
                <% }) %>
            </div>
           
            <%- include('../partials/symbolsNav.ejs') %>
        </div>        
        
    </div>
    <%- include('../partials/footer.ejs') %>
</body>
</html>
